
.chord-info
  display: none
  position: relative
  padding: 15px 50px
  border-radius: 8px
  box-shadow: 5px 5px 50px 0px rgba(0,0,0,0.25)
  &.show
    display: block
  .chordName
    display: inline-block
    font-size: 12px
    position: absolute
  .close
    background: #dc686b
    display: block
    border-radius: 100%
    width: 15px
    height: 15px
    padding: 0
    margin: 0
    border: none
    border: 1px solid darken(#dc686b,5%)
    position: absolute
    top: 15px
    right: 15px
    outline: none

    &.active:before
      content: '𝗑'
      color: rgba(0,0,0,0.35)
      font-size: 15px
      position: absolute
      left: 3.055px
      top: -7.465px
.guitar
  width: 100%
  grid-gap: 25px
  grid-auto-flow: column
  justify-items: center
  align-items: center
  display: grid

.fretboard
  display: grid
  border-top: 15px solid black
  width: 150px
  height: 200px
  .fret
    display: grid
    grid-template-columns: repeat(5,0.99fr)
    position: relative
    grid-auto-flow: column
    &:before
      content: attr(data-fret)
      position: absolute
      bottom: -5px
      left: -22.5px
    .string
      position: relative
      border:
        right: 1px solid black
        left: 1px solid black
        bottom: 1px solid black
      &-E
        border-left-width: 6px
      &-A
        border-left-width: 4px
      &-D
        border-left-width: 3.0px
      &-G
        border-left-width: 2px
      &-B
        border-left-width: 1.5px
      &-e
        border-left-width: 1px
      &:last-child
        border:
          right: none
          bottom: none
      .finger
        position: absolute
        color: rgba(200,200,200,1)
        padding: 0 10px
        background: rgba(22,22,22, 0.9)
        border-radius: 100%
        bottom: -10px
        left: -15px
        z-index: 15
        font-size: 12px
        font-weight: bold
.legend
  align-self: start
  list-style-type: none
  width: 150px
  margin: 0
  padding: 0
  li
    margin: 10px 0 0 11.5px
    font-weight: normal
    color: rgba(22,22,22, 0.9)
    &:nth-child(n+1)
      text-align: left
      font-size: 15px

    &.title
      margin-left: 0
    span
      display: inline-block
      text-align: center
      border-radius: 100%
      color: rgba(200,200,200,1)
      padding: 0 10px
      background: rgba(22,22,22, 0.9)


@media (max-width: 450px)
  .chord-info
    position: sticky
    width: 100vw
    .close
      width: 30px
      height: 30px
      &.active:before
        position: static
        left: 20px
        font-size: 30px
    li
      margin-left: -15px
